<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
   <h1> Welcome To My Company </h1>
   <a href="/students/home">Home</a> |
    <a href="/students/about">About us</a> |
     <a href="/students/service">Service</a> |
      <a href="/students/join">Join</a> |
       <a href="/students/contact">Contact us</a> 
       <hr size="4" color="red">
       <h2>  Insert Student Records</h2>
       <form method="post" action="/students/save">
         Enter Rollno : <input type="text" name="rno" >
         <br>
         Enter Name : <input type="text" name="nm" >
         <br>
        Enter City : <input type="text" name="ct">
         <br>
       Enter  Fees : <input type="text" name="fs">
       <br>
       <button>Save!!!</button>
       </form>     
          <hr size="4" color="red">
          www.myacompany.com all right reserved. 2025
</body>
</html>