<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="#">Logo</a>
        </div>
        <div class="navbar">
            <a href="/students/home">Home</a>
            <a href="/students/about">About</a>
            <a href="/students/service">Services</a>
            <a href="/students/serach">serach Us</a>
            <a href="/students/contact">Contact Us</a>
        </div>
    </div>
      <h1>Edit Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id eum quia, earum incidunt harum blanditiis, enim, placeat eaque quas vitae aut. Velit officia deserunt eligendi, est aut quos consequuntur voluptate!

    </p>

    <form method="post" action="/students/save" >
    Enter Roll No<input type="text" name="rn"><br>
    Enter Name<input type="text" name="nm"><br>
    Enter City<input type="text" name="ct"> <br>
    Enter fee<input type="text" name="fs"> <br>
    <button>Submit</button>
    </form>


</body>

</html>