<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="#">Logo</a>
        </div>
        <div class="navbar">
            <a href="/students/home">Home</a>
            <a href="/students/about">About</a>
            <a href="/students/service">Services</a>
            <a href="/students/serach">serach Us</a>
            <a href="/students/contact">Contact Us</a>
        </div>
    </div>
    <h2> Search Data </h2>
       <form method="post" action="/students/search">
        Enter Rollno : <input type="text" name="rno" >
          <button>Search</button>
        </form>
        <hr>

    <% if (Data && Data.length > 0) { %>
         <table width="600" align="center" bgcolor="pink">
        <tr bgcolor="orange">
            <th> Rollno </th>
            <th> Name </th>
            <th> City </th>
            <th> Fees </th>
        </tr>
    <% Data.forEach((student)=>{ %>
        <tr>
            <td>  <%= student.rollNo %></td>
            <td>  <%= student.name %> </td>
            <td>  <%= student.city %> </td>
            <td>  <%= student.fee %> </td>
        </tr>
        <% }) %>
    </table>
    <% } else { %>
        <p>No student found with the given roll number.</p>
    <% } %>


</body>

</html>