/* navbar */

/* body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: sandybrown;

}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    /* background-color: rgb(114, 145, 248); */
    /* color: rgb(1, 1, 1);
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
} */

/* .navbar label {
    display: none;
}

#click {
    display: none;
}

#click:checked~.navbar ul {
    display: block;

}


@media screen and (max-width: 768px) {
    .navbar label {
        display: block;
    }

    .navbar ul {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: sandybrown;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .navbar ul li {
        display: block;
        margin: 10px 0;
        padding: 10px;
        text-align: center;


    }
} */ 

/* bookmark */

/* html{
    scroll-behavior: smooth;
}
.head{
    background-color: yellowgreen;
    height: 100px;
    color: white;
} */

/* icon */

/* .smailicon{
    font-size: 100px;
    color: rgb(159, 159, 58);
   background-color: rgb(0, 0, 0);
} */




/* Grid */
*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 300px 400px auto;
    grid-template-rows: 400px;
}

.container div{
    background-color: red;
    border: 2px solid black;
}
.container .ch1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}